section{
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: aqua;
}

form{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
input{
 margin-bottom: 10px;   
}
button{
    margin-bottom: 10px;
}